a{text-decoration: none;}
.menu{list-style-type: none;}
*{
    background-color: rgb(237, 237, 237);
    color: rgb(81, 104, 167);
}
h2{
    color: rgb(190, 127, 139);
}

.menu{
    display: inline-block; /* Deixa lado a lado */
    padding: 10px 20px; /*  */
    background-color: rgb(117, 111, 209);
    text-align: center;
    font-size: 16px;
    border-radius: 5px; /* Borda arredondada */
    border: none;
 }
.menu:houver{
    background-color: rgb(203, 218, 201);
}